<% layout('layouts/app') %>
    <section class="section">
        <div class="section-header">
            <h1>
                <%= title %>
            </h1>
        </div>
        <div>
            <%- include('../../layouts/partials/alert') %>
        </div>
        <div class="row pl-3">
            <div class="card shadow mb-4">
                <div class="card-header bg-dark py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-white">Data Menu</h6>
                    <button class="btn btn-primary btn-circle btn-sm text-white" data-toggle="modal"
                        data-target="#createMenuModal">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered border-dark table-striped" id="dataTable" width="100%"
                            cellspacing="0">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nama Menu</th>
                                    <th scope="col">Link Menu</th>
                                    <th scope="col">Icon</th>
                                    <th scope="col">Order</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% menus.forEach((menu, index)=> { %>
                                    <tr>
                                        <th scope="row">
                                            <%= index + 1 %>
                                        </th>
                                        <td>
                                            <%= menu.name %>
                                        </td>
                                        <td>
                                            <%= menu.route %>
                                        </td>
                                        <td><i class="<%= menu.icon %>"></i>
                                            <%= menu.icon %>
                                        </td>
                                        <td>
                                            <%= menu.orderBy %>
                                        </td>
                                        <td>
                                            <a href="/admin/manage-menus/submenu/<%= menu._id %>"
                                                class="btn btn-primary btn-sm">
                                                <i class="fa fa-cog"></i> Sub Menu
                                            </a>
                                            <button class="btn btn-success btn-sm" data-toggle="modal"
                                                data-target="#editMenuModal<%= menu._id %>">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <form action="/admin/manage-menus/<%= menu._id %>?_method=DELETE"
                                                method="POST" class="d-inline">
                                                <button class="btn btn-danger btn-sm" type="submit"
                                                    onclick="return confirm('Apakah Anda Yakin Ingin Menghapus Data ini?')">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal Create Menu -->
    <div class="modal fade" id="createMenuModal" tabindex="-1" role="dialog" aria-labelledby="createMenuModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/admin/manage-menus" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createMenuModalLabel">Tambah Menu Baru</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Nama Menu</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="route">Route Menu</label>
                            <input type="text" class="form-control" id="route" name="route" required>
                        </div>
                        <div class="form-group">
                            <label for="icon">Icon</label>
                            <input type="text" class="form-control" id="icon" name="icon" required>
                        </div>
                        <div class="form-group">
                            <label for="orderBy">Urutan</label>
                            <input type="number" class="form-control" id="orderBy" name="orderBy" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal Edit Menu -->
    <% menus.forEach((menu)=> { %>
        <div class="modal fade" id="editMenuModal<%= menu._id %>" tabindex="-1" role="dialog"
            aria-labelledby="editMenuModalLabel<%= menu._id %>" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="/admin/manage-menus/<%= menu._id %>?_method=PUT" method="POST">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editMenuModalLabel<%= menu._id %>">Edit Menu</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="name">Nama Menu</label>
                                <input type="text" class="form-control" id="name" name="name" value="<%= menu.name %>"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="route">Route Menu</label>
                                <input type="text" class="form-control" id="route" name="route"
                                    value="<%= menu.route %>" required>
                            </div>
                            <div class="form-group">
                                <label for="icon">Icon</label>
                                <input type="text" class="form-control" id="icon" name="icon" value="<%= menu.icon %>"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="orderBy">Urutan</label>
                                <input type="number" class="form-control" id="orderBy" name="orderBy"
                                    value="<%= menu.orderBy %>" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                            <button type="submit" class="btn btn-success">Perbarui</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <% }) %>